body {
  font-size: 15pt;

  background-image: linear-gradient(to right top, #6998ab, #618fa3, #59869b, #517d94, #4a748c, #436c84, #3d637c, #365b74, #2f526a, #284960, #214057, #1a374d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color:white;
}
.container{
  height:90%;
  width:100%;
}
.glasscont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height:500px;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border-radius: 30px;
  text-align:center;
}
.glasscont > h4{
  font-size:30px;
}
.input{
  text-align: center;
  letter-spacing:5px;
  border-radius:10px;
  background:transparent;
  outline:none;
  border:0.5px solid white;
  color:white;
  width:70%;
  height:50px;
  margin:10px;
}
::placeholder{
  color:white;
}
.btn{
  background: transparent;
  outline:none;
  border:1px solid white;
  color:white;
  height:50px;
  width:50px;
  border-radius:100%;
  position: absolute;
  left:90%;
}
.btn2{
  background:transparent;
  outline:none;
  border:0.5px solid white;
  color:white;
  width:70%;
  height:50px;
  border-radius:10px;
  letter-spacing:5px;
  margin-top:40px;
}
.btn2:hover{
  background: rgba(255, 255, 255, 0.25);
  
}
label{
  position:relative;
  right:30%;
  font-family: "Lucida Console", "Courier New", monospace;
}

p , h4{
  color:white;
  font-size:20px;
   font-family: "Lucida Console", "Courier New", monospace;
}
h4{
  border-bottom:2px solid white;
}

.poverlap{
   position: absolute;
   top:20%;
   left:25%;
   margin:auto;
   transform:translate(-50% -50%);
   width:50%;
   height:60%;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   display:flex;
}
